server:
  port: 8091
spring:
  config:
    import:
      - classpath:/datasource.yml
      - classpath:/rpc.yml
      - classpath:/config.yml
      - classpath:/cache.yml
      - classpath:/file.yml
      - classpath:/base.yml
  application:
    name: business-user


nexo:
  auth:
    real-name:
      host: https://kzidcardv1.market.alicloudapi.com
      appcode: 65b1e4df85b5405d92fb427d6e44d452