server:
  port: 8094
spring:
  config:
    import:
      - classpath:/datasource.yml
      - classpath:/rpc.yml
      - classpath:/config.yml
      - classpath:/cache.yml
      - classpath:/file.yml
      - classpath:/base.yml
  application:
    name: business-trade
