server:
  port: 8095
spring:
  config:
    import:
      - classpath:/datasource.yml
      - classpath:/rpc.yml
      - classpath:/config.yml
      - classpath:/cache.yml
      - classpath:/base.yml
      - classpath:/stream.yml
  application:
    name: business-order
