server:
  port: 8095
spring:
  cloud:
    # 消费者配置
    stream:
      bindings:
        buy-in-0:
          content-type: application/json
          destination: buy-topic
          group: trade-group
          binder: rocketmq
  config:
    import:
      - classpath:/datasource.yml
      - classpath:/rpc.yml
      - classpath:/config.yml
      - classpath:/cache.yml
      - classpath:/base.yml
      - classpath:/stream.yml
  application:
    name: business-order
